<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="span8">
      <ul id="feed_togle" class="nav nav-pills">
      
        <% if @feed_togle != "following" %>
          <li class="active"><%= link_to "Public feed", root_path %></li>
        <% else %>
          <li><%= link_to "Public feed", root_path %></li>
        <% end %>
        
        <% if @feed_togle == "following" %>
          <li class="active"><%= link_to "Following", following_path %></li>
        <% else %>
          <li><%= link_to "Following", following_path %></li>
        <% end %>
      
      </ul>
      <h3 id = "question_header">Questions Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to BustaVote</h1>

    <h2>
      This is the home page BustaVote.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

<% end %>