<li id="<%= feed_item.id %>">
    <%= render "shared/question_details", feed_item: feed_item %>
  <div id="votes-<%= feed_item.id %>">
    <%= render "shared/votes_form", feed_item: feed_item %>
  </div>
  <div id="comments-<%= feed_item.id %>" class="comments">
    <%= render "shared/comments_form", feed_item: feed_item %>
  </div>
</li>