<li style="clear:both; padding: 5px 0">
  <div>
    <% if choice.id != @current_choice %>
      <% if @vote.nil? 
        @vote = Vote.new 
        end %>
      <% if !@vote_id.nil? %>
        <!-- Form for if the user has already voted on this question -->
        <%= form_for @vote, url: vote_path(id: @vote_id), html: { :method => :put }, remote: true do |f| %>
          <%= render "shared/vote_fields", f: f %>
        <% end %>
      <% else %>
        <!-- Form for if the user has not voted on this question yet -->
        <%= form_for @vote, remote: true do |f| %>
          <%= render "shared/vote_fields", f: f  %>
        <% end %>
      <% end %>
    <% else %>
      <!-- Form for if the user has voted for this choice -->
      <%= image_tag('buttons_check_on.png', class: "check_button") %>
    <% end %>  
    <span class = "choice_content"><%= choice.content %></span>
    <span class = "vote_count" style="float:right; position:relative; top:13px;"><%= choice.votes.count %> votes</span>
    <div style="clear:both"></div>
  </div>
</li>