<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Bustavote</title>
=======
  <title><%= full_title(yield(:title)) %></title>
>>>>>>> 8d71f9753e931c4ca8b1bd4d898d618e4472bab0
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
